@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: rgb(16 8 60);
            color: aliceblue;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background-color: rgb(42, 67, 138);
        }

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
        }

        nav ul li a:hover {
            color: rgb(102, 102, 200);
            font-size: 1.2rem;
        }

        main hr {
            border: 0;
            background: #9c97f1;
            height: 1.3px;
            margin: 40px 84px;
        }

        .left {
            font-size: 1.5rem;
        }

        .firstSection {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 70px 0;
        }

        .firstSection > div {
            width: 30%;
        }

        .leftSection {
            font-size: 2.5rem;
            margin: 70px 0;
        }

        .leftSection .buttons {
            padding: 50px 0;
        }
        .leftSection .btn {
            padding: 12px;
            background-color: cadetblue;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 20px;
            cursor: pointer;
        }

        .rightSection img {
            width: 80%;
            margin: 50px;
        }

        .purple {
            color: rgb(133, 59, 201);
        }

        .text-grey {
            color: gray;
        }

        #element {
            color: rgb(133, 59, 201);
        }

        .secondSection {
            max-width: 90vw;
            margin: auto;
            height: 80vh;
        }

        .secondSection h1 {
            font-size: 1.9rem;
        }

        .secondSection .box {
            background: white;
            margin: 56px 0;
            width: 60vw;
            height: 2px;
            display: flex;
        }

        .secondSection .vertical {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 150px;
        }
        
        .image-top {
            width: 23px;
            position: relative;
            top: -32px;
            left: -9px;
        }

        .vertical-title {
            position: relative;
            top: 75px;
            width: 150px;
            font-size: 15px;
        }
        .veritcal-desc {
            position: relative;
            top: 80px;
            color: gray;
            width: 150px;
            font-size: 9px;
        }

        .thirdSection {
            max-width: 90vw;
            margin: auto;
            height: 80vh;
        }

        .thirdSection h1 {
            font-size: 1.9rem;
        }

        .thirdSection .skill-box {
            background: white;
            margin: 56px 0;
            width: 60vw;
            height: 2px;
            display: flex;
        }

        .thirdSection .third-vertical {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 110px;
        }

        footer {
            background-color: #160b41;
            height: 233px;
        }

        .footer {
            display: flex;
            padding: 23px 122px;
            justify-content: space-evenly;
        }

        .footer ul {
            list-style: none;
        }

        .footer > div {
            width: 150px;
        }

        footer .footer-rights {
            text-align: center;
            color: gray;
            padding: 12px 0;
        }